.form-sample > form > div {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}
.error-message {
  display: none;
}
.form-sample > form > div > input {
  width: 50%;
  height: 25px;
}
.form-sample > form > button {
  margin: 5px auto;
  text-transform: uppercase;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
.form-sample > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#test-table-xls-button {
  margin-bottom: 20px;
  color: #fff;
  background-color: #087404;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.fc-media-screen {
  max-height: 500px;
}
